<html>
<head>
    <title>Speedrun Comparator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="comparatorCtrl.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="body-class" ng-app="comparatorApp" ng-controller="comparatorCtrl as ctrl">
    <h1 align="center">Speedrun Comparator</h1>
    <hr />
    
    <div class="tab splits-tab" ng-show="ctrl.displayedTab == 'splits'">
        <p class="infoText">This online tool is designed to make it easier to compare two current speedruns. By entering times for certain splits for each runner, the tool will determine how far apart the two runners are, based on the last split both of them have completed.</p>
        <p class="infoText">Enter a list of splits below, separated by the Enter key.</p>
        <p><textarea class="listTextArea" cols="50" rows="30" placeholder="First split
Second split
Third split
Etc." ng-model="ctrl.splitTextContents"></textarea></p>
        <p>Use a predefined set of splits:
            <select name="predefinedSplitSelect"
                    ng-model="ctrl.predefinedSplitSelect"
                    ng-change="ctrl.selectSplits()">
                <option value="-1">-- Choose game and category --</option>
                <option ng-repeat="category in ctrl.predefinedSplits track by $index" value="{{$index}}">
                    {{category.name}}
                </option>
            </select>
        </p>
        <p>Timing method:
            <select name="timingMethodSelect"
                    ng-model="ctrl.timingMethod">
                <option value="cumulative">Cumulative</option>
                <option value="splits">Individual splits</option>
            </select>
        </p>
        <p ng-if="ctrl.timingMethod === 'splits'">
            <b>Important:</b> this timing method will not work correctly if any splits are missing.
        </p>
        <p>Omit trailing zeroes:
            <input type="checkbox" ng-model="ctrl.approximate">
        </p>
        <p>
            <span class="nameEntry">Runner 1 name: <input ng-model="ctrl.firstRunnerName"></span>
            <span class="nameEntry">Runner 2 name: <input ng-model="ctrl.secondRunnerName"></span>
        </p>
        <p><button ng-click="ctrl.begin()">Begin</button></p>
    </div>

    <div class="tab data-entry-tab" ng-show="ctrl.displayedTab == 'data-entry'">
        <div class="displayTimes">
            <div class="runnerTimes">
                <table>
                    <tr>
                        <th colspan="4">
                            {{ctrl.firstRunnerName}}
                        </th>
                    </tr>
                    <tr ng-repeat="split in ctrl.firstRunnerSplits track by $index">
                        <td>{{split.name}}</td>
                        <td>
                            {{split.splitTime !== undefined ? ctrl.timeToStringTime(split.splitTime) : '-'}}
                        </td>
                        <td>{{ctrl.timeToStringTime(split.adjustment)}}</td>
                        <td>{{split.cumulativeTime !== undefined ? ctrl.timeToStringTime(split.cumulativeTime + split.cumulativeAdjustment) : '-'}}</td>
                    </tr>
                </table>
            </div>
            <div class="runnerTimes">
                <table>
                    <tr>
                        <th>Leader</th>
                        <th>Difference</th>
                        <th>Gain</th>
                    </tr>
                    <tr ng-repeat="delta in ctrl.deltas track by $index">
                        <td>{{ctrl.getRunnerName(delta.leader)}}</td>
                        <td>{{delta.timeDelta !== undefined ? ctrl.timeToStringTime(delta.timeDelta) : '-'}}</td>
                        <td ng-show="!delta.gain">-</td>
                        <td ng-show="delta.gain"
                            id="gainText{{$index}}"
                            ng-click="ctrl.selectGainText($index)">
                            {{ctrl.getRunnerName(delta.gainingRunner)}}
                            gains
                            {{ctrl.timeToStringTime(delta.gain)}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="runnerTimes">
                <table>
                    <tr>
                        <th colspan="4">
                            {{ctrl.secondRunnerName}}
                        </th>
                    </tr>
                    <tr ng-repeat="split in ctrl.secondRunnerSplits track by $index">
                        <td>{{split.name}}</td>
                        <td>
                            {{split.splitTime !== undefined ? ctrl.timeToStringTime(split.splitTime) : '-'}}
                        </td>
                        <td>{{ctrl.timeToStringTime(split.adjustment)}}</td>
                        <td>{{split.cumulativeTime !== undefined ? ctrl.timeToStringTime(split.cumulativeTime + split.cumulativeAdjustment) : '-'}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="timeText" class="timeResults infoText" ng-click="ctrl.selectTimeText()">
            <div ng-show="ctrl.leadingRunner < 0">
                <div>Both runners are</div>
                <div>
                    <span class="timeKeyInfo">tied</span>
                    <span ng-show="!ctrl.raceComplete && ctrl.latestCommonSplit >= 0">as of</span>
                </div>
                <div ng-show="!ctrl.raceComplete && ctrl.latestCommonSplit >= 0">
                    {{ctrl.splitsList[ctrl.latestCommonSplit]}}
                </div>
            </div>
            <div ng-show="ctrl.leadingRunner >= 0">
                <div>
                    <span class="timeKeyInfo">
                        {{ctrl.leadingRunner === 0 ? ctrl.firstRunnerName : ctrl.secondRunnerName}}
                    </span>
                    {{ctrl.raceComplete ? "wins by" : "is ahead by"}}
                </div>
                <div>
                    <span class="timeKeyInfo">
                        {{ctrl.timeDifferenceString}}
                    </span>
                    <span ng-show="!ctrl.raceComplete && ctrl.latestCommonSplit >= 0">as of</span>
                </div>
                <div ng-show="!ctrl.raceComplete && ctrl.latestCommonSplit >= 0">
                    {{ctrl.splitsList[ctrl.latestCommonSplit]}}
                </div>
            </div>
        </div>
        <div class="infoText">
            Click the above text to copy it to your clipboard.
        </div>
        <div class="timeEntries">
            <div class="runnerTimeEntry">
                <div class="addSplitText">Add split for {{ctrl.firstRunnerName}}</div>
                <select name="firstSplitSelect" ng-model="ctrl.firstSplitSelect">
                    <option ng-repeat="split in ctrl.splitsList" value="{{$index}}">{{split}}</option>
                </select>
                <input placeholder="12:34.56" ng-model="ctrl.firstRunnerNewSplitTime">
                <button ng-click="ctrl.addSplitTime(0)">Add split time</button>
            </div>
            <div class="runnerTimeEntry">
                <div class="addSplitText">Add split for {{ctrl.secondRunnerName}}</div>
                <select name="secondSplitSelect" ng-model="ctrl.secondSplitSelect">
                    <option ng-repeat="split in ctrl.splitsList" value="{{$index}}">{{split}}</option>
                </select>
                <input placeholder="12:34.56" ng-model="ctrl.secondRunnerNewSplitTime">
                <button ng-click="ctrl.addSplitTime(1)">Add split time</button>
            </div>
        </div>
        <div class="timeEntries">
            <div class="runnerTimeEntry">
                <div class="addSplitText">
                    Time adjustment for {{ctrl.firstRunnerName}} on {{ctrl.getRunnerSplit(0)}}
                </div>
                <select name="firstAdjustmentSelect" ng-model="ctrl.firstRunnerAdjustmentDirection">
                    <option value="add">Add</option>
                    <option value="remove">Subtract</option>
                </select>
                <input placeholder="12:34.56" ng-model="ctrl.firstRunnerNewAdjustment">
                <button ng-click="ctrl.addAdjustment(0)">Add split time</button>
            </div>
            <div class="runnerTimeEntry">
                <div class="addSplitText">
                    Time adjustment for {{ctrl.secondRunnerName}} on {{ctrl.getRunnerSplit(1)}}
                </div>
                <select name="secondAdjustmentSelect" ng-model="ctrl.secondRunnerAdjustmentDirection">
                    <option value="add">Add</option>
                    <option value="remove">Subtract</option>
                </select>
                <input placeholder="12:34.56" ng-model="ctrl.secondRunnerNewAdjustment">
                <button ng-click="ctrl.addAdjustment(1)">Add split time</button>
            </div>
        </div>
        <div class="calculatorPanel">
            <div>
                <button ng-click="ctrl.toggleCalculator()">
                    {{ctrl.displayCalculator ? 'Hide calculator' : 'Show calculator'}}
                </button>
            </div>
            <div class="calculatorElements" ng-if="ctrl.displayCalculator">
                <input placeholder="12:34.56" ng-model="ctrl.operand1">
                <select name="calculatorOperator" ng-model="ctrl.operator">
                    <option value="+">+</option>
                    <option value="-">-</option>
                </select>
                <input placeholder="12:34.56" ng-model="ctrl.operand2">
                <button ng-click="ctrl.timeCalculatorFunction()">=</button>
                <input placeholder="12:34.56" ng-model="ctrl.calculatorResult">
            </div>
        </div>
        <hr />
        <div class="downloadCsvButton">
            <button ng-click="ctrl.exportToCsv()">Download as CSV</button>
        </div>
        <div class="newRaceButton">
            <button ng-click="ctrl.restart()">New Race</button>
        </div>
    </div>

    <hr />
    <div class="credits">
        <p>Created by <a href="https://github.com/TheSoundDefense" target="_blank">The Sound Defense</a>.</p>
    </div>
</body>
</html>
